html {
  font-family: 'Helvetica Neue', sans-serif;
}

* {
  font-family: inherit;
}

a {
  color: DeepSkyBlue;
}

a:active {
  color: SkyBlue;
}

.hidden {
  display: none;
}

#question-list > *:not(:last-child) {
  margin-bottom: 10px;
}

#answer-list > *:not(:last-child) {
  margin-bottom: 10px;
}

.answer-summary {
  background-color: WhiteSmoke;
  border-left: solid medium DeepSkyBlue;
  padding: 0.1px 5px;
}



