# Only replace 'PUT YOUR *' after you've copied me as
# `app_keys.rb`. Do not change this file. Only the copy.
ENV['EMAIL_USER_NAME'] = 'PUT YOUR EMAIL HERE'
ENV['EMAIL_PASSWORD'] = 'PUT YOUR PASSWORD HERE'
ENV['AWS_ACCESS_KEY_ID'] = 'PUT YOUR AWS_ACCESS_KEY_ID'
ENV['AWS_SECRET_ACCESS_KEY'] = 'PUT YOUR AWS_SECRET_ACCESS_KEY'
