


<h1>Product</h1>

<div class="">
  <% for (let product of products) { %>
    <div class="">
      <a href><%= product.title %></a>

      <a href="/products/<%= product.id%>"> Link </a>
    </div>
  <% } %>
</div>

