<%- include('./partial/header') %>


<h1>hello </h1>

<form method="POST" action="/username">
  <div>
    <label for="name">Username</label>
    <input id="name" name="username" value=" " />
  </div>
   <input type="submit" name="" value="Submit">

  </form>


<% if (username) { %> 
  <div class="alert alert-success">
  <strong>Success!</strong> Indicates a successful or positive action.
</div>
<% } else {%>
<div class="alert alert-info">
  <strong>Info!</strong> Indicates a neutral informative change or action.
</div>
<% } %>

 <img class="cover-image" src="/images/bridge.jpg">
  <div>
