

<%- include('./partials/header') %>


<style>
   #image { 
    background-image: url("http://www.fabiovisentin.com/photography/photo/25/sky-wallpaper-02939.jpg");
    height: 800px; width: 100%;
    }
    
    h1{
     font-family: "Comic Sans MS";
     color: white;
     margin-top: 20%;
    }
   .img-circle {
    border-radius: 10%;
     }

     #link{
     margin-left: 33%;

     }
</style>

<div class="col-md-4"> 

 <img class ="img_circle"  src="https://lh6.googleusercontent.com/L49VMNFZ760XFyY4zwjhFrkgtIFhbriFrmY0mRsqyKjzdUl4U-wFyh4EszaC77s2hO2--xh5NXv4Mu7X1iOsqelZu6DyAO-a2_YsAPgzZx-whBez9FlPRbQ9tW9XIedL5A"  height="82"  width="162">

 </div>
<div class="col-md-4">  </div>
<div class="col-md-4" id="link">
<a href="/create"><h2>Home Dashboard</h2></a>
</div>

<div class="col-md-12"> </div>
<div id="image" class="col-md-12">
  <h1> <center> Awesome Tweets </center> </h1> 
</div>











<%- include('./partials/footer') %>


