html {
  font-family: 'Helvetica Neue', sans-serif;
}

/* `*` is a CSS selector that selects EVERY node on the page */
* {
  font-family: inherit;
}

body {
  margin: 0;
  padding: 0;
}

nav > *:not(:last-child) {
  margin-right: 10px;
}

.App {
  margin: 0 20px;
}

.QuestionList > *:not(:last-child) {
  margin-bottom: 10px;
}
