<%- include('./partial/header') %>



 <div class = "col-sm-3"> </div>
<div class = "col-sm-6"> <h1>Find Random name</h1>

<form method="POST" action="/re" class="form-group">
  <div>
    <textarea placeholder="names" class="form-control" id="info" name="info" value=" " />
  </textarea>
  <div>
   <br>
    <input class="form-control btn-info" type="submit" name="" value="Find me!">
  </div>
</form>

</div>
<div class = "col-sm-3"> </div>


</body>
</html>