<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
 <div class="row">

      <div class="col-md-1 col-xs-1">
          <li > <i class="fa fa-arrow-left fa-3x"  aria-hidden="true" style="color:white;" ></i> </li>
     </div>
     <div class="col-md-1 col-xs-1">
        <li > <i class="fa fa-arrow-right fa-3x"  aria-hidden="true" style="color:white;" ></i> </li>
    </div>
    <div class=" col-md-1 col-xs-1">
        <li> <i class="fa fa-times fa-3x"  aria-hidden="true" style="color:white;" ></i> </li>
    </div>
    <div class=" col-md-1 col-xs-1">
        <li> <i class="fa fa-home fa-3x"  aria-hidden="true" style="color:white;" ></i> </li>
     </div>


     <div class="col-lg-6 col-xs-6">
     <form class="navbar-form navbar">
       <div class="form-group">
         <input type="text" class="form-control" placeholder="search .. "  >
       </div>
     </form>
   </div>

    <div class="col-md-2 col-xs-2">
    <form class="navbar-form navbar-right">
      <div class="form-group">
        <input type="text" class="form-control" style="border-radius: 50px;"  >
      </div>
    </form>
  </div>

</div>
  </div>
</nav>

  </head>
  <body>
